<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col s12 m8 l4 offset-m2 offset-l4">
                <div class="card">
                    <div class="card-action blue white-text center-align">
                        <h3>Register</h3>
                    </div>
                    <form action="/register" method="POST" autocomplete="off">
                        <div class="card-content">
                            <div class="form-field">
                                <label for="Username">Name</label>
                                <input type="text" name="name" required>
                            </div><br>
                            <div class="form-field">
                                <label for="Email">Email</label>
                                <input type="email" name="email" required>
                            </div><br>
                            <div class="form-field">
                                <label for="Password">Password</label>
                                <input type="password" name="password" required>
                            </div><br>
                            <div class="form-field center-align">
                                <button type="submit" class="btn-large red">Submit</button>
                            </div><br>
                            <div class="form-field center-align">
                                <p>Already Registered? &nbsp; <a href="/login">Login</a></p>
                            </div><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js" integrity="sha512-XVnzJolpkbYuMeISFQk6sQIkn3iYUbMX3f0STFUvT6f4+MZR6RJvlM5JFA2ritAN3hn+C0Bkckx2/+lCoJl3yg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha512-FJ2OYvUIXUqCcPf1stu+oTBlhn54W0UisZB/TNrZaVMHHhYvLBV9jMbvJYtvDe5x/WVaoXZ6KB+Uqe5hT2vlyA==" crossorigin="anonymous"></script>
</body>
</html>
